  <div class="jumbotron center-block about">
    <h2>Once upon a time, in an apartment far, far away...</h2>
  </div>

  <div class="row">
    <div class="col-md-9 col-centered about">
      <p>One of the biggest pain points in Provo is apartment hunting.</p>
      <p>When I was a student in Provo, I spent hours going through Craigslist and KSL, trying to sift through the apartment listings to find a suitable place to rest my weary head. I knew there had to be an easier way to do it. If I could order Cafe Rio online, there had to be a way for me to easily track down an apartment, without being asked to wire money to Nigeria. </p>
      <p>Enter Provo Pads.</p>
      <p>I can't solve all the world's problems, but I hope that through Provo Pads, I can help BYU students spend less time searching for an apartment, and more time <strike>swiping through Tinder</strike> studying.</p>
      <h2>Happy Hunting,<br>
        Amy-Kate</h2>
    </div>
  </div>
