<div class="jumbotron center-block about">
  <h2>Get In Touch</h2>
</div>

<div class="row">
  <div class="col-md-9 col-centered about">
    <a href="mailto:amy.kate.andrews@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>  Email Me<br>
    <a target="_blank" href="https://www.twitter.com/heyamykate"><i class="fa fa-twitter fa-lg"></i></a>  Follow Me on Twitter<br>
    <a target="_blank" href="http://www.amykateandrews.com"><i class="fa fa-code fa-lg"></i></a>  My Portfolio<br>
  </div>
</div>
