<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ui-sref="main">Home</a></li>
      <li><a ng-href="#">About</a></li>
      <li><a ng-href="#">Contact</a></li>
    </ul>
    <h1 class="text-muted title">Provo Pads</h1>
  </div>
  <hr />

  <div class="jumbotron center-block main">
    <h1 class="main">Are you married or single?</h1>
    <p><a class="btn btn-default btn-lg" role="button" ui-sref="second">Married</a></p>
    <p><a class="btn btn-default btn-lg" role="button" ui-sref="second">Single</a></p>
  </div>

  <div class="footer">
    <p>Created with <span class="glyphicon glyphicon-heart"></span> by Amy-Kate</p>
  </div>
</div>
