<div class="match-questions panel-container" ak-panel-group full-window="true" threshold=50>
    <ak-panel>
        <div class="jumbotron">
            <h2>First, answer some questions por favor.</h2>
            <div class="btn">
                I'm ready.
            </div>
        </div>
    </ak-panel>
    <ak-panel>
        <div class="jumbotron gender">
            <h2>Are you a lady or a gent?</h2>
            <div class="btn">
                Lady
            </div>
            <div class="btn">
                Gent
            </div>
        </div>
    </ak-panel>

    <ak-panel>
        <div class="jumbotron room">
            <h2>Do you share or do you want some alone time?</h2>
            <div class="btn">
                Private Room.
            </div>
            <div class="btn">
                Shared Room.
            </div>
        </div>
    </ak-panel>
</div>
