<div class="panel-container landing" ak-panel-group full-window="true" threshold=50>
   <ak-panel>
    <div class="jumbotron">
        <h1>Finding an apartment doesn't have to suck.</h1>
        <h3>Help us help you.</h3>
    </div>
    <span>scroll down....</span>
   </ak-panel>

   <ak-panel>
       <div class="jumbotron">
           <h3>Think of it as tinder for apartments.</h3>
           <h3>...but with less bathroom selfies and more actual bathrooms.</h3>
           <div class="btn" ui-sref="questions">
               Get Matched
           </div>
       </div>
       <span>...keep scrolling</span>
   </ak-panel>

   <ak-panel>
       <div class="jumbotron">
           <h2>We even made a place for you to sell your contract without dying inside.</h2>
           <div class="btn">
               Free Yourself
           </div>
       </div>
   </ak-panel>

</div>
